body {
  background-color: #141414;
}

.p-rating-icon {
  color: #44ab10 !important;
}

.product-img-box img {
  width: 60%;
  height: auto;
  margin: 20px 20%;
  border: 1px solid #7ade4b;
  border-radius: 3px;
}

.p-highlight a {
  background-color: #44ab10 !important;
}

.p-accordion .p-accordion-content {
  background-color: transparent !important;
}
.p-accordion .p-accordion-content .p-card {
  background-color: #7ade4b !important;
  color: black;
}

.pricing {
  padding: 20px;
}
.pricing .price {
  color: #7ade4b;
  font-size: 36px;
  text-align: center;
  padding: 15px;
}
.pricing button .pi {
  font-size: 24px;
}

.section .section-header {
  display: inline-block;
  padding: 15px;
  width: 100%;
}
.section .section-header .section-header-title {
  color: #44ab10;
  font-size: 24px;
  display: inline-block;
}
.section .section-header .section-header-border {
  float: right;
  display: inline-block;
  width: inherit;
}
.section .section-header .section-header-border .section-header-inner-border {
  border: 1px solid #7ade4b;
}
.section .section-content {
  padding: 15px;
}
.section .section-content .description {
  color: #545454;
  font-size: 20px;
}
.section .section-content .product-options {
  padding: 15px;
}
.section .section-content .product-options .product-option .option-header {
  color: #44ab10;
}
.section .section-content .resultNav {
  padding: 15px;
}
.section .section-content .resultNav .p-highlight {
  background-color: #44ab10 !important;
}
.section .section-content .resultNav .p-paginator, .section .section-content .resultNav .p-dropdown-panel, .section .section-content .resultNav .p-dropdown {
  background-color: #545454;
  border: none;
}
.section .section-content .resultNav .p-paginator .p-dropdown-item, .section .section-content .resultNav .p-paginator .p-paginator-page, .section .section-content .resultNav .p-dropdown-panel .p-dropdown-item, .section .section-content .resultNav .p-dropdown-panel .p-paginator-page, .section .section-content .resultNav .p-dropdown .p-dropdown-item, .section .section-content .resultNav .p-dropdown .p-paginator-page {
  color: #7ade4b;
}
.section .section-content .resultNav .p-paginator .p-paginator-page :hover, .section .section-content .resultNav .p-dropdown-panel .p-paginator-page :hover, .section .section-content .resultNav .p-dropdown .p-paginator-page :hover {
  color: #44ab10;
}
.section .section-content .resultNav .p-dropdown-trigger, .section .section-content .resultNav .p-dropdown-label {
  background-color: #545454;
  color: #7ade4b;
}

#store .storeItem {
  margin: 30px 0;
  outline: 2px solid #44ab10;
  padding: 20px;
  background-color: #545454;
}
#store .storeItem img {
  box-shadow: 5px 5px #141414;
}
#store .storeItem:hover {
  transform: scale(1.1);
}

.layout-header {
  background-color: #44ab10;
  display: block;
  padding: 0;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}
.layout-header #HeaderImg {
  display: inline-block;
  height: 60px;
  line-height: 60px;
}
.layout-header #HeaderImg a {
  height: inherit;
}
.layout-header #HeaderImg a img {
  padding: 5px;
  height: inherit;
}
.layout-header .menu-button {
  display: none;
  color: #fff;
  font-size: 24px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.layout-header .menu-button :hover {
  background-color: #7ade4b;
}
.layout-header .menu-button i {
  width: inherit;
  line-height: inherit;
}
.layout-header .header-menu {
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0;
  height: 100%;
}
.layout-header .header-menu li {
  display: inline-block;
  height: 100%;
  float: right;
}
.layout-header .header-menu .menu-highlight span, .layout-header .header-menu .menu-highlight a {
  text-decoration: none;
  color: #fff;
  min-width: 120px;
  display: inline-block;
  text-align: center;
  height: 100%;
  line-height: 60px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.layout-header .header-menu .menu-highlight :hover, .layout-header .header-menu .menu-highlight :focus {
  background-color: #7ade4b !important;
}
.layout-header .header-menu .account-button :hover {
  color: #7ade4b;
}
.layout-header .header-menu .search-icon, .layout-header .header-menu .search-bar {
  display: inline-block;
  float: left;
  height: 100%;
}
.layout-header .header-menu .search-icon .search-input, .layout-header .header-menu .search-bar .search-input {
  float: left;
}
.layout-header .header-menu .search-icon span, .layout-header .header-menu .search-bar span {
  margin: 0;
  width: inherit;
  height: inherit;
  text-decoration: none;
  color: black;
  text-align: center;
  line-height: 60px;
}
.layout-header .header-menu .search-icon span :hover, .layout-header .header-menu .search-bar span :hover {
  color: #fff;
}
.layout-header .header-menu .search-icon .search-field, .layout-header .header-menu .search-bar .search-field {
  padding: 5px;
  height: inherit;
  margin: 5px auto;
  align-content: center;
}
.layout-header .header-menu .search-icon .search-field input, .layout-header .header-menu .search-bar .search-field input {
  width: 400px;
}
.layout-header .header-menu .search-bar {
  display: none;
}
.layout-header .header-menu .active {
  display: inline-block !important;
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear;
}
.layout-header .header-menu .search-icon {
  width: 60px;
}
.layout-header .header-menu .menu-highlight {
  background-color: #378a0d;
}
.layout-header .header-menu .account-button {
  height: 100%;
}
.layout-header .header-menu .account-button li {
  float: left !important;
  width: 100%;
}
.layout-header .header-menu .account-button .p-button {
  width: 60px;
  height: 60px;
  background-color: #378a0d;
}

#layout-content {
  margin-top: 60px;
  padding-top: 10px;
}
#layout-content .form-fieldset {
  padding: 30px;
}
#layout-content .form-fieldset .AccountField {
  padding: 20px;
}
#layout-content .pictureCarousel {
  padding: 10px;
  width: 90%;
  margin: 0 5%;
  position: relative;
}
#layout-content .pictureCarousel img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-height: 400px;
  height: auto;
  border: 1px solid #7ade4b;
  border-radius: 3px;
}
#layout-content .pictureCarousel .carouselNav {
  right: 35%;
  width: 50%;
  margin-left: 25%;
}
#layout-content .pictureCarousel .carouselNav li {
  list-style: none;
  opacity: 0.5;
  display: block;
  width: 40px;
}
#layout-content .pictureCarousel .carouselNav li i {
  font-size: 20px;
  transform: scale(2, 1);
}
#layout-content .pictureCarousel .carouselNav li:hover {
  opacity: 0.8;
}
#layout-content .pictureCarousel .traverseBtn {
  color: #545454;
  opacity: 0.5;
}
#layout-content .pictureCarousel .traverseBtn .active {
  color: #7ade4b;
  opacity: 1;
}
#layout-content .pictureCarousel .traverseBtn :hover {
  color: #7ade4b;
  opacity: 1;
}
#layout-content .pictureCarousel .TraverseRight {
  position: absolute;
  right: 16px;
  top: 35%;
}
#layout-content .pictureCarousel .TraverseLeft {
  position: absolute;
  left: 16px;
  top: 35%;
}

#nav-menu {
  width: 100% !important;
  border: none;
  border-radius: 0;
  background-color: #7ade4b;
  margin-top: 60px;
  margin-left: 0;
  margin-right: 0;
}

.searchResultsPage .search-field {
  padding: 15px;
  margin: auto 0;
}
.searchResultsPage .search-field .search-input {
  width: 90%;
}

.hidden {
  display: none;
}

.cancel-btn {
  background-color: #141414 !important;
}
.cancel-btn :hover {
  background-color: #545454;
}

.submit-btn {
  background-color: #44ab10 !important;
  outline-color: #7ade4b !important;
}
.submit-btn :hover {
  background-color: #7ade4b;
}

.p-menu-item {
  width: 100%;
}

#app {
  position: relative;
}

.LoginForm {
  padding: 5px;
  border-radius: 10px;
  width: 400px;
  border: 2px solid #44ab10;
  background-color: #fff;
}
.LoginForm #LoginHeader img {
  width: 200px;
  height: auto;
}
.LoginForm .p-tabview .p-tabview-nav {
  border-radius: 4px 4px 0 0;
  padding: 10px;
  background-image: -webkit-linear-gradient(left, #44ab10, #7ade4b) !important;
}
.LoginForm .p-tabview .p-tabview-nav a {
  background-color: transparent !important;
  color: #fff;
  border-color: black;
}
.LoginForm .p-tabview .p-tabview-nav .p-highlight a {
  background-color: #fff !important;
  color: black !important;
}
.LoginForm .LoginField {
  margin: 20px auto;
}
.LoginForm .LoginField h1 {
  color: black;
}

.contact .p-editor-container {
  height: 70%;
}
.contact .CompanyAddress {
  font-size: 16px;
  color: #fff;
  text-align: center;
}
.contact .CompanyAddress span {
  font-weight: bold;
}
.contact .NewCompanyAddress {
  outline: 2px #44ab10 solid;
}

.save-page, .submitPage {
  bottom: 0;
  position: fixed;
  padding: 15px;
}
.save-page button, .submitPage button {
  width: 100px;
  height: 50px;
}

.submitPage {
  right: 0;
}

@media screen and (max-width: 64em) {
  .layout-header {
    text-align: center;
  }
  .layout-header #HeaderImg img {
    height: inherit;
    width: auto;
  }
  .layout-header .header-menu {
    display: none;
  }
  .layout-header .menu-button {
    float: left;
    display: inline-block;
  }

  #layout-content {
    padding-top: 50px;
  }
  #layout-content .p-sidebar-close {
    font-size: 24px;
  }
  #layout-content #sidebarMenu {
    padding: 0;
    top: 60px;
  }
  #layout-content #sidebarMenu .p-inputgroup {
    display: inline-block;
    padding: 10px;
    align-content: center;
    margin: auto;
  }
  #layout-content #sidebarMenu .p-sidebar-close {
    display: none;
  }
  #layout-content #sidebarMenu .p-menu {
    width: 100% !important;
    border: none !important;
  }

  #nav-menu {
    display: none;
  }

  .homeMenu {
    display: none;
  }
}
@media screen and (max-width: 300px) {
  .layout-header img {
    display: none;
  }
}
.burst-8 {
  background: #44ab10;
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  text-align: center;
  transform: rotate(20deg);
}

.burst-8:before {
  content: "NEW!";
  font-weight: bold;
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background: #44ab10;
  transform: rotate(315deg);
  z-index: 1;
}

/*# sourceMappingURL=app.css.map */
