$primary-color:#44ab10;
$secondary-color:#7ade4b;
$background-color:#141414;
$background-color-light:lighten($background-color,25%);
$background-color-alt:#fff;
$text-color:black;
$text-color-alt:#fff;
$topbar-height:60px;
$menubar-height:30px;
$content-offset:$topbar-height;

body{
  background-color:$background-color;


}
.product-img-box{
 // background-color:$background-color-light;
  img{
    width:60%;
    height:auto;
    margin:20px 20%;
    border:1px solid $secondary-color;
    border-radius: 3px;

  }
}
.p-highlight a{
  background-color:$primary-color!important;
}
.p-accordion{

  .p-accordion-content{
    background-color:transparent!important;
    .p-card{
      background-color:$secondary-color!important;
      color:$text-color;
    }
  }
}
.pricing{
  padding:20px;
  .price{
    color:$secondary-color;
    font-size:36px;
    text-align: center;
    padding:15px;
  }
  button{
    .pi{
      font-size:24px;
    }
  }

}
.section{
  .section-header{
    display:inline-block;
    padding:15px;
    .section-header-title{
      color:$primary-color;
      font-size:24px;
      display:inline-block;
    }
    .section-header-border{
      .section-header-inner-border{
        border:1px solid $secondary-color;

      }
      float:right;

      display: inline-block;
      width:inherit;


    }
    width:100%;
  }
  .section-content{
    padding:15px;

    .description{
      color:$background-color-light;
      font-size:20px;
    }
    .product-options{
      padding:15px;
      .product-option{
        .option-header{
          color:$primary-color;

        }
      }

    }
  }
}



.layout-header{


  background-color:$primary-color;
  display:block;
  padding:0;
  height:$topbar-height;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  #HeaderImg{
      display: inline-block;
      height:$topbar-height;

      line-height:$topbar-height;
      a{
        height:inherit;
        img{
          padding:5px;
          height:inherit;
        }
      }

  }
  .menu-button{
    display:none;
    color: $background-color-alt;
    font-size: 24px;
    height:$topbar-height;
    width:$topbar-height;
    line-height:$topbar-height;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    :hover{
      background-color: $secondary-color;
    }
    i{
      width:inherit;
      line-height:inherit;
    }
  }
  .header-menu{
    list-style-type: none;
    float: right;
    margin:0;
    padding: 0;
    height: 100%;
    li{
      display: inline-block;
      height: 100%;
      float:right;


    }
    .menu-highlight{
      span, a{
        text-decoration: none;
        color: $background-color-alt;
        min-width: 120px;
        display: inline-block;
        text-align: center;
        height: 100%;
        line-height: $topbar-height;
        -webkit-transition: background-color 0.2s;
        transition: background-color 0.2s;

      }
      :hover,:focus{
        background-color:$secondary-color!important;
      }


    }
    .account-button{
      :hover{
        color:$secondary-color;
      }
    }
    .search-icon,.search-bar{
      display:inline-block;
      float:left;
      height: 100%;

      .search-input{
        float:left;
      }

      span{
        margin:0;
        width:inherit;
        height:inherit;
        text-decoration: none;
        color: $text-color;
        text-align:center;
        line-height: $topbar-height;
        :hover{
          color:$background-color-alt;
        }

      }
      #search-field{
        padding:5px;
        height:inherit;
        input{
          width:400px;
        }

        margin:5px auto;
        align-content: center;
      }



    }
    .search-bar{
      display:none;
    }
    .active{
      display:inline-block!important;
      -webkit-transition: all .6s linear;
      -moz-transition: all .6s linear;
      -o-transition: all .6s linear;
      transition: all .6s linear;
    }

    .search-icon{
      width:$topbar-height;
    }
    .menu-highlight{
      background-color:darken($primary-color,7%);
    }
    .account-button{
      float: left;
      margin:0;
      padding: 0;
      height: 100%;
      .p-button{
          width:$topbar-height;
          height:$topbar-height;
          background-color:darken($primary-color,7%);



      }

    }

  }

}
#layout-content{

  padding-top: 10px;
  .form-fieldset{
    padding:30px;
    .AccountField{
      padding:20px;
    }
  }
  #sidebarMenu{

  }

}
#nav-menu{
  width:100%!important;
  border:none;
  border-radius:0;
  background-color:$secondary-color;
  margin-top:$topbar-height;
  margin-left:0;
  margin-right:0;


}

.hidden { display:none; }
.cancel-btn{
  background-color:$background-color!important;
  :hover{
    background-color:$background-color-light;
  }
}
.submit-btn{
  background-color:$primary-color!important;
  outline-color:$secondary-color!important;
  :hover{
    background-color:$secondary-color;
  }

}

.p-menu-item{
  width:100%;
}
#app{
  position:relative;
}
.LoginForm {

  padding: 5px;
  border-radius: 10px;
  width:400px;

  border: 2px solid $primary-color;
  background-color: $background-color-alt;

  #LoginHeader {
    img {
      width: 200px;
      height: auto;
    }
  }
  .p-tabview{
    .p-tabview-nav{
      border-radius: 4px 4px 0 0;
      padding: 10px;
      background-image: -webkit-linear-gradient(left,$primary-color,$secondary-color)!important;
      a{
        background-color:transparent!important;
        color:$text-color-alt;
        border-color:$text-color;
      }
      .p-highlight a{
        background-color:$text-color-alt!important;
        color:$text-color!important;
      }

    }

  }

  #LoginSubmit {

   // margin-top: 60px;
  }

  .LoginField {

    margin: 20px auto;


    h1 {
      color: $text-color;
    }


  }


}
.contact{
  .p-editor-container{
    height:70%;
  }
}
.save-page,.submitPage{

  bottom: 0;
  position:fixed;
  padding:15px;

  button{
    width:100px;
    height:50px;
  }
}
.submitPage{
  right:0;
}
@media screen and (max-width: 64em) {
  //$topbar-height-mobile:30px;
  .layout-header{
    text-align: center;
    #HeaderImg{

      img{
        height:inherit;
        width:auto;
      }
    }
    .header-menu{
      display:none;
      //height:$topbar-height-mobile;
    }
    .menu-button{
      float:left;
      display: inline-block;
     // height:$topbar-height-mobile;

    }


  }
  #layout-content{
    padding-top:50px;
    //padding-top:$topbar-height-mobile;
    .p-sidebar-close{
      font-size:24px;
    }
    #sidebarMenu{
      padding:0;
      top:$content-offset;
      .p-inputgroup{
        display:inline-block;
        padding:10px;
        align-content: center;
        margin:auto;
      }
      .p-sidebar-close{
        display:none;
      }
      .p-menu{
        width:100%!important;
        border:none!important;
      }
     // padding-top: $topbar-height;
    }

  }
  #nav-menu{
    display:none;
  }


}
@media screen and (max-width:300px){
  .layout-header{
    img{
      display: none;
    }
  }
}

